body{
    width: 90%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.layout{
    width: 28%;
    float: left;
    margin: 2% 1.5%;
    margin-left: 2.5%;
    height: 18rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightgray;
    padding: 20px;
}

.heading {
    display: block;
    align-content:space-around;
    margin: 15px 0px;
}

.btn{
    display: inline-block;
    border: 1px solid #1DA1F2;
    color: #ffffff;
    background-color: #1DA1F2;
    width: 6rem;
    height: 1.5rem;
    text-align:center;
    padding: 2px;
    border-radius: 5px;
}

.btn_g{
    display: inline-block;
    border: 1px solid limegreen;
    color: #ffffff;
    background-color: limegreen;
    width: 6rem;
    height: 1.5rem;
    text-align:center;
    padding: 2px;
    border-radius: 5px;
}

.btn_p{
    display: inline-block;
    border: 1px solid mediumpurple;
    color: #ffffff;
    background-color: mediumpurple;
    width: 8rem;
    height: 1.5rem;
    text-align:center;
    padding: 2px;
    border-radius: 5px;
}

.img {

}

.description{
    color: gray;
    margin-top: 15px;
}

.btn_down{
    color: #1DA1F2;
    border-radius: 50px;
    border: 1px solid #1DA1F2;
    background-color: #ffffff;
    padding: 11px 32px;
    cursor: pointer;
    margin-top: 15px;
}

.btn_down:hover{
    color: #ffffff;
    background-color: #1DA1F2;
}