* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
}

.first-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 10% auto;
}

.box {
    display: flex;
    width: 28%;
    flex: 3 1 auto;
    padding: 1%;
    margin: 2%;
}



.Logo{
    display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
    border: 2px solid  lightgray;
    padding: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.box p{
    align-items: center;
    color: grey;
    padding-top: 4px;
}



